body {
    margin: 0;
    padding: 0;
    background-color: #dfe7d9;
    font-family: Georgia, serif;
}

/* Header */
header {
    background-color: #d5ebeb;
    text-align: center;
    padding: 15px;
}

/* Logo and Title */
.top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 55px;
    height: 55px;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #2f6b2f;
    font-size: 45px;
}

/* Navigation */
nav {
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    margin: 12px;
    color: peru;
    font-size: 15px;
    font-weight: bold;
}

/* Content */
.content-section {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
}

/* Gallery Section */
.gallery-section {
    text-align: center;
}

.gallery-section h2 {
    color: darkgreen;
    font-size: 40px;
    margin-bottom: 15px;
}

/* Images */
.gallery {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.gallery img {
    width: 270px;
    height: 450px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #cfe6c1;
    color: cadetblue;
    padding: 8px;
    margin-top: 20px;
}
